body, html{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
}

/*Section Header css*/
.section-title.center{
	padding: 30px 0;
}
.section-title h2,
.section-title.center h2{
	font-weight: 300;
}
.section-title.center .line{
	border-top: 4px solid #fcac45;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.section-title.center hr {
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}

/* polaroid in team section begin */
ul.polaroids {
	list-style-type: none;
}

ul.polaroids{ 
	width: 95%;
	margin: 0 0 18px -30px; 
}

ul.polaroids li {
	display: inline;
}
ul.polaroids a {
	background: rgba(255, 228, 178, 1); 
	display: inline; 
	float: left; 
	margin: 0 0 27px 30px; 
	width: auto; 
	padding: 10px 10px 15px; 
	text-align: center; 
	font-family: "Marker Felt", sans-serif; 
	text-decoration: none; 
	color: #333; 
	font-size: 18px; 
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
	-webkit-transform: rotate(-2deg); 
	-webkit-transition: -webkit-transform .15s linear; 
	-moz-transform: rotate(-2deg); 
}

ul.polaroids img {
	display: block; 
	width: 190px; 
	margin-bottom: 12px; 
}

ul.polaroids a:after {
	content: attr(title); 
}

ul.polaroids li:nth-child(even) a {
	-webkit-transform: rotate(2deg);  
	-moz-transform: rotate(2deg); 
}

ul.polaroids li:nth-child(3n) a { 
	-webkit-transform: none; 
	position: relative; 
	top: -5px;  
	-moz-transform: none; 
}

ul.polaroids li:nth-child(5n) a { 
	-webkit-transform: rotate(5deg); 
	position: relative; 
	right: 5px;  
	-moz-transform: rotate(5deg); 
}

ul.polaroids li:nth-child(8n) a { 
	position: relative; 
	right: 5px; 
	top: 8px; 
}

ul.polaroids li:nth-child(11n) a { 
	position: relative; 
	left: -5px; 
	top: 3px; 
}

ul.polaroids li.messy a {
	margin-top: -375px; 
	margin-left: 160px; 
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg); 
}

ul.polaroids li a:hover { 
	-webkit-transform: scale(1.25); 
	-moz-transform: scale(1.25); 
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
	position: relative; 
	z-index: 5;
}

code { 
	background: rgba(0,0,0,.5); 
	padding: 2px 3px; 
	color: #fff; 
	text-shadow: 0 1px 1px rgba(0,0,0,.75); 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
}

ol.code { 
	background: rgba(0,0,0,.75); 
	margin-bottom: 18px; 
	border: solid rgba(0,0,0,.75); 
	border-width: 1px 1px 0; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,.5); 
}

ol.code li, ol.code li code { 
	font-size: 14px !important; 
}

ol.code code { 
	background: none; 
}
/* polaroid in team section end */

/*background*/
.container_background{
	background: url(../img/06.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
	height:1500px;
}